@model  IEnumerable<ServiceViewModel>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ServiceName</th>
            <th scope="col">URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
        <tr>
            <th scope="row">1</th>
            <td>@service.Name</td>
            <td>@service.URL</td>
        </tr>

        }
    </tbody>
</table>